@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
ul {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: rgb(78, 48, 41);
  background: linear-gradient(180deg, rgb(78, 48, 41) 0%, rgb(51, 27, 21) 50%);
  font-family: "Signika", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

p,
h1,
h2 {
  color: white;
}

li {
  list-style: none;
  color: white;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

nav {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  min-height: 100px;
  border-bottom: 2px dashed #856656;
}
nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
  font-size: 1.2rem;
  color: white;
}
nav ul li::after {
  content: "•";
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #deb572;
}
nav .container-img-title {
  justify-content: center;
  display: flex;
  align-items: center;
}
nav .container-img-title a {
  font-size: 1.4rem;
}
nav .container-img-nav {
  cursor: pointer;
  max-width: 23%;
  max-height: auto;
  border-radius: 50%;
  overflow: hidden;
}
nav .container-img-nav img {
  width: 100%;
  height: auto;
}
nav .container-button-nav {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}
nav .container-button-nav .button-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
nav .container-button-nav button {
  cursor: pointer;
  background-color: white;
  padding: 0.6rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 15px -3px white;
  font-size: 1.2rem;
}

.first-container-padding {
  padding-top: 3rem;
  padding-bottom: 20rem;
}
.first-container-padding .container-flex-first {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.first-container-padding .container-flex-first .container-img-section {
  max-width: 45%;
  height: auto;
  padding: 2.1rem;
}
.first-container-padding .container-flex-first .container-img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}
.first-container-padding .container-img-title-description {
  max-width: 50rem;
  padding: 1rem;
  max-width: 100%;
}
.first-container-padding .container-img-title-description img {
  width: 100%;
  height: 100%;
}
.first-container-padding .container-img-title-description span {
  color: #c39c65;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
.first-container-padding .container-img-title-description h1 {
  font-family: "Signika", sans-serif;
  color: white;
  font-size: 7rem;
}
.first-container-padding .container-img-title-description h2 {
  color: white;
  font-size: 1.2rem;
  font-family: "Signika", sans-serif;
  font-weight: 300;
  line-height: 150%;
}
.first-container-padding .container-img-title-description button {
  padding: 0.6rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border: none;
  border-radius: 30px;
  color: black;
  background-color: #dfb574;
  font-size: 1.2rem;
  font-family: "Signika", sans-serif;
}
.first-container-padding .container-img-title-description button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.background-color-section {
  background: #492c25;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding-bottom: 3rem;
  width: auto;
}

aside {
  display: flex;
  justify-content: space-around;
}
aside .container-text {
  display: flex;
  align-items: center;
}
aside .container-text p {
  font-size: 1.4rem;
  color: white;
  line-height: 140%;
  padding-left: 2rem;
}
aside .container-img-coffe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-top: -10rem;
  margin-left: 2rem;
}
aside .container-img-coffe p {
  color: white;
}
aside .container-img-coffe .img-and-text {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease-in-out;
}
aside .container-img-coffe .img-and-text:hover {
  transition: all 0.5s ease-out;
  transform: scale(1.1);
}
aside .container-img-coffe .img-and-text img {
  width: 200px;
}
aside .container-img-coffe .img-and-text img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1108px) {
  h1 {
    font-size: 4rem !important;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav .container-img-title {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1646px) {
  .first-container-padding {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .first-container-padding .container-img-section {
    min-width: 100%;
  }
  .first-container-padding .container-img-section img {
    min-width: 100%;
    margin-left: 3rem;
  }
  .first-container-padding .container-flex-first {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1001px) {
  .first-container-padding .container-flex-first .container-img-section {
    min-width: 45% !important;
  }
  .first-container-padding .container-flex-first .container-img-section img {
    min-width: 50% !important;
  }
}
@media screen and (max-width: 1265px) {
  .background-color-section {
    display: flex;
    flex-direction: column;
  }
  .background-color-section aside {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 627px) {
  nav .container-button-nav {
    flex-direction: column;
  }
  .background-color-section aside p {
    font-size: 1.2rem;
    text-align: center;
    padding-right: 1.3rem;
  }
  .background-color-section aside .container-img-coffe {
    flex-direction: column;
  }
  .background-color-section aside .container-img-coffe .img-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
