@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

body {
    background: rgb(78, 48, 41);
    background: linear-gradient(180deg, rgba(78, 48, 41, 1) 0%, rgba(51, 27, 21, 1) 50%);
    font-family: "Signika", sans-serif;
}
li {
    list-style: none;
    color: white;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
nav {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 2px dashed #856656;
    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        li {
            font-size: 1.2rem;
            color: white;
            &::after {
                content: "•";
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                color: #deb572;
            }
        }
    }
    .container-img-title {
        justify-content: center;
        display: flex;
        align-items: center;
        a {
            font-size: 1.4rem;
        }
    }
    .container-img-nav {
        cursor: pointer;
        max-width: 23%;
        max-height: auto;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .container-button-nav {
        display: flex;
        gap: 2rem;
        padding: 1.5rem;
        button {
            cursor: pointer;
            background-color: white;
            padding: 0.6rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            border: none;
            border-radius: 30px;
            box-shadow: 0px 4px 15px -3px white;
            font-size: 1.2rem;
        }
    }
}
.first-container-padding {
    padding-bottom: 20rem;

    .container-flex-first {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        .container-img-section {
            max-width: 45%;
            height: auto;
            padding: 2.1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(180deg);
            }
        }
    }
    .container-img-title-description {
        max-width: 50rem;
        padding: 1rem;
        max-width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        span {
            color: #c39c65;
            font-family: "IBM Plex Mono", monospace;
            font-weight: bold;
        }

        h1 {
            font-family: "Signika", sans-serif;
            color: white;
            font-size: 7rem;
        }

        h2 {
            color: white;
            font-size: 1.2rem;
            font-family: "Signika", sans-serif;
            font-weight: 300;
            line-height: percentage($number: 1.5);
        }
        button {
            padding: 0.6rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            border: none;
            border-radius: 30px;
            color: black;
            background-color: #dfb574;
            font-size: 1.2rem;
            font-family: "Signika", sans-serif;
        }
    }
}
.background-color-section {
    background: #492c25;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    padding-bottom: 3rem;
}
aside {
    display: flex;
    justify-content: space-around;
    .container-text {
        display: flex;
        align-items: center;
        p {
            font-size: 1.4rem;
            color: white;
            line-height: percentage($number: 1.4);
        }
    }
    .container-img-coffe {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        margin-top: -10rem;
        p {
            color: white;
        }
        .img-and-text {
            max-width: 100%;
            max-height: 100%;
            transition: 0.3s ease-in-out;
            &:hover {
                transition: all 0.5s ease-out;
                transform:scale(1.1)
            }
            img {
                width: 200px;
                &:hover {
                    cursor: pointer;
                
                    
                } 
            }
        }
    }
}

